@charset 'utf-8';

.left {
  background: #ccc;
}

.test1 {
  height: 1px;
  background: #fff;
  transform: scaleY(0.5);
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5); /* 完美的解决一像素看着粗的问题 */
  -webkit-transform-origin: 0 0;
  overflow: hidden;
}
