.inter {
  height: 100vh;
  color: #fff;

  ul {
    display: inline-block;
    width: 100%;
    text-align: left;

    li {
      overflow: scroll;
      margin-top: 30px;

      small {
        border-bottom: 1px solid #ddd;
      }

      p {
        color: #fff;
      }

      code {
        display: unset;
        white-space: nowrap;
        text-align: left;
      }
    }
  }
}
