.input-wrapper {
  label {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    span {
      display: inline-block;
      width: 100px;
    }
  }

  input {
    width: 50%;
    box-sizing: border-box;
    margin: 10px auto;
    border: 1px solid #fff;
    background: none;
    color: #fff;
  }
}
