.home {
  min-height: 100vh;
  color: currentColor;

  fieldset {
    legend {
      border-top: 1px solid #e5e5e5;
      border-bottom: none;
    }
  }

  .testIng {
    display: block;
    width: 200px;
  }
  button {
    color: black;
  }

  #waterImageContent {
    width: 80%;
    height: 300px;
    margin: auto;
    border: 1px solid rgb(24, 133, 195);
    background-repeat: repeat;
    pointer-events: none;
    text-align: left;
  }

  #pdfContainer {
    width: 80%;
    height: 200px;
    margin: auto;
    border: 1px solid rgb(24, 133, 195);
    text-align: left;
  }
}
